
//Esquema de cores

$corCabecalho:  #182C61;
$corCorpo: #f5f6fa;
$corFonteMenuCabecalho: #fff;
$corTexto:black;
$corBotao:#44bd32;
$corTextoBotao: #fff;

// Breakpoints

$mobile: 767px;
$tablet: 1023px;
