* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header {
  background-color: #2f3640;
  padding: 16px 0;
  color: aliceblue;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  display: inline;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 16px;
}

header li a {
  color: aliceblue;
  text-decoration: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article img {
  /*height: 180px; */
  width: 100%;
}

.articles article {
  width: 30%;
}

section {
  padding: 16px 0;
}

section h2 {
  margin-bottom: 16px;
}

.articles article a {
  background-color: rgb(18, 124, 101);
  color: rgb(238, 241, 240);
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}

.article article a:hower {
  text-decoration: underline;
}

.articles article p,
.articles article a {
  font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
  font-size: 24px;
}

section h2 {
  font-size: 32px;
}

#sports {
  background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
  background-color: #009432;
}

#economy {
  background-color: #ebe89f;
}

#economy .articles article a {
  background-color: #ff9f1a;
}

#entertain {
  background-color: #517fbd;
}

#entertain .articles article a {
  background-color: #0b1e6e;
}

#tecnologi {
  background-color: #c98fce;
}

#tecnologi .articles article a {
  background-color: #74497c;
}
