body {
  background-color: #c3acac;
  color: #221818;
}
header {
  background-color: #571d1d;
  text-align: center;
  justify-content: center;
}
header .menu {
  list-style-type: none;
  text-align: center;
  padding-bottom: 5px;
}
header .menu li a {
  text-decoration: none;
  color: #fff;
}
section .products .product-item {
  list-style-type: none;
  text-align: center;
}
section li a {
  color: #fff;
  text-decoration: none;
}
section h2 {
  font-size: 2em;
  text-align: center;
}
section p {
  font-size: 1em;
  text-align: center;
}
.form {
  text-align: center;
  justify-content: center;
}
.form .button {
  padding-top: 5px;
}
